.start {
   background-color: #ccc;
   border-radius:7px;
   color: #fff;
   font-family: 'Oswald';
   font-size: 30px;
   text-decoration: none;
   cursor: pointer;
}
.btn {
  background-color: #26890C;
}

.form {
  background-color: #90EE90;
}
#inputMDEx {
  background-color: #90EE90;
  font-size: 50px;
}
