.secondStart {
   background-color: #ccc;
   border-radius:7px;
   color: #fff;
   font-family: 'Oswald';
   font-size: 30px;
   text-decoration: none;
   cursor: pointer;
   border:none;
}
.opt {
  font-size: 10px;
}
.selector {
  font-size: 17px;
}
