.secondStart {
   background-color: #ccc;
   border-radius:7px;
   color: #fff;
   font-family: 'Oswald';
   font-size: 30px;
   text-decoration: none;
   cursor: pointer;
   border:none;
}
.opt {
  font-size: 20px;
}
.selector {
  font-size: 17px;
}
.back {
  background-color: #268900;
}

#inputMDEx {
  background-color: #90EE90;
  font-size: 50px;
}
