.App {
  text-align: center;
}
.container {
  text-align: center;
}
.col {
  font-size: 3.0rem;
  letter-spacing: -.08rem;
  font-weight: 300;
  display: block;
  line-height: 1.35;
}
.title {
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
